vendor/
.env
/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key
config/google_api_config.json

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
